.dropdown{
    margin: 10px;
}

.mainDropdown{
    width: 284px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 38px;
    border: none;
    background-color: rgb(187, 181, 181);
}

.thesisDetails{
    background: #FDF0D5;
    padding: 10px;
    font-size: 25px;
    height: 50%;
    margin: 10px 0;
    border-radius: 10px;
}

.inputDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.input{
    width: 40%;
    height: 15%;
    margin: 8px 0;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.date-picker::-webkit-calendar{
position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;

}
.thesisInfo{
    margin: 10px;
    height: 100%;
}

.sectionHeader{
    font-size: 25px;
    margin-bottom: 0.5rem !important;
}

.thesisview{
    height: 30%;
    background: #FDF0D5;
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
}