.dropdown{
    margin: 10px;
}

.thesisFeedbck{
    height: 100%;
}

.mainDropdown{
    width: 284px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border-radius: 38px;
    border: none;
    background-color: rgb(187, 181, 181);
}

.thesisSection{
    height: 70%
}
.evaluator{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10%;
}

.evaluator p{
    margin: 10px;
    background: #FDF0D5;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.labelMainEval{
    font-size: 35px;
    margin: 10px;
}

.Evaluation{
    height: 90%;
}

.mainEval{
    border-radius: 10px;
    margin: 10px;
    background: #FDF0D5;
    padding: 10px;
    height: 40%;
}

.labelEvalReport{
    font-size: 35px;
    margin: 10px;
}

.evalReport{
    font-size: 25px;
    margin: 10px;
    background: #FDF0D5;
    padding: 10px;
    height: 40%;
    overflow-y: auto;
    border-radius: 10px;
}