.guidelinesDetails{
    background: #FDF0D5;
    margin: 10px;
    height: 80%;
    font-size: 20px;
    padding: 15px;
    overflow-y: auto;
    border-radius: 10px;
}

.guidelinesDetails::-webkit-scrollbar{
    width: 10px;
}

.guidelinesDetails::-webkit-scrollbar-track{
    background: transparent;
}

.guidelinesDetails::-webkit-scrollbar-thumb{
    background: #7f7257;    
    border-radius: 4px;
}